:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

a {
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* колір основного тексту #212121 */
/* колір другорядного тексту #757575 */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* другий колір фону #F5F4FA */
/* третій колір фону #2F303A */

/* ----------------Header----------- */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;

    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.web-color {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    position: relative;
}

.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    left: 0;
    bottom: 0;

}

.header-connect {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-mail {
    margin-right: 50px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-mail:hover,
.header-mail:focus {
    color:var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* -----------Hero--------------- */

.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    /* display: block; */
    margin: 0 auto;
    padding: 10px 32px;
    justify-content: center;


    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

/* -------------Особенности----------- */
.hang {
    padding-top: 94px;
}

.hang-list {
    display: flex;
    gap: 30px;
}

.hang-lists {
    width: 270px;
}

.hang-icon {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hang-item {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}


.hang-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* -----------Виды деятельности------- */
.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    gap: 30px;
    position: relative;
}

.work-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.work-top-text {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    padding: 27px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

/* ---------Команда----------------- */
.team {
    background: #F5F4FA;
}

.container .team-list  {
    display: flex;
    gap: 30px;
}

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-link {
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-user {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    /* margin-top: 30px; */
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

/* ----------------clients----------------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.regular-clients {
    display: flex;
    gap: 30px;
}

.clients-link {
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
}

/* .clients-icon {
    fill: #AFB1B8;
    align-items: center;
    justify-content: center;
} */

/* .clients-icon:hover,
.clients-icon:focus {
    fill: #2196F3;
} */

.clients-link {
    /* width: 28px;
    height: 32px; */
    /* align-items: center;
    justify-content: center; */
}

/* --------------footer------------ */

.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-title {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.web-color {
    color: var(--accent-color);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item {
    font-style: normal;
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-soc {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* text-align: center; */
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
    /* fill: #FFFFFF; */
}

.footer-mail-title {
    margin-bottom: 20px;
        
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail-btn {
    width: 200px;
    height: 50px;
    margin-left: 8px;
    justify-content: center;
        
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.btn-icon {
    fill: #FFFFFF;
    margin-left: 10px;
    /* display: flex;
    align-item: center; */
}

.footer .container {
    display: flex;
}

.footer-form {
    margin-top: 12px;
    margin-left: 93px;
}

.footer-b {
    margin-top: 12px;
    margin-left: 70px;
}

.footer-a {
    width: 231px;
}

/* -------------Портфоліо---------------- */

.filters-button {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

/* .filters-item {

} */

.filters-btn {
    /* display: inline-block; */
    padding: 6px 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: 0px solid #F5F4FA;
    border-radius: 4px;
    color: var(--title-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
}

.filters-cards {
    margin-right: 30px;
}

.filters-cards:nth-child(3n) {
    margin-right: 0;
}

.filters-cards {
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-top-wrap {
    position: relative;
    overflow: hidden;
}

.filters-cards:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.filters-cards:hover .filters-top-text {
    transform: translateY(0%);
}

.filters-top-text {
    position: absolute;
    top: 0%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.filters-user {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;

}

.filters-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.filters-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin-top: 4px;
    resize: none;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
    fill: var(--accent-color);
}

.input-wrap {
    position: relative;
    margin-top: 4px;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
    gap: 3px;
}

.check-accord {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    /* fill: transparent; */
    opacity: 0;
}

.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:focus + .check-text span {
    border-color: var(--title-text-color);
}

.modal-check:checked + .check-text .check-icon {
    fill: #ffffff;
    opacity: 1;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center; 
        
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.modal-icon {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}